/* Universal Style */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Noto Sans KR;
}

/* HEADER */

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 64px;
}

.logo {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all 500ms;
}

.logo:hover {
    letter-spacing: 4px;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 100;
}

.nav-buttons {
    text-align: right;
    display: flex;
    margin: 24px;
}

a {
    margin: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-buttons a:hover {
    color: teal;
    text-decoration: overline;
}

header span {
    font-size: 20px;
}

header img{
    height: 50px;
}


/* LANDING SECTION */

.landing-container {
    display: flex;
    align-items: center;
    background-color: rgb(201, 201, 201);
}

.landing-container img {
    width: 60%;
    margin: 64px 24px;
    position: relative;
    top: 32px;
}

.landing-content {
    margin: 0px 24px;
    min-width: 300px;
    max-width: 300px;
}

.landing-content h1{
    font-size: 40px;
}

.landing-content p {
    font-size: 23px;
    margin: 40px 0px;
}

.start-button {
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 8px 0px;
    border-radius: 5px;
    transition: all 500ms;
}

.start-button:hover {
    background-color: teal;
}

/* INFO SECTION */

.info-container {
    display: inline-flex;
    background-color: white;
}

.info-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px 24px;
}

.info-content img {
    width: 100%;
    margin-top: 32px;
}

.info-sections {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 32px 0px;
}

.info-sections p,
.info-sections a {
    font-size: 14px;
}

.info-sections a {
    color: teal;
    transition: letter-spacing 0.5s;
}

.info-sections a:hover {
    letter-spacing: 4px;
}

.info-sections img {
    width: 35%;
    height: auto;
}

.guest,
.campus,
.orientation {
    display: flex;
    border-left: 1px solid rgb(201, 201, 201);
}



.guest img {
    margin: 16px;
}

.campus img {
    margin: 16px;
}

.orientation img {
    margin: 0px 16px 16px 16px;
}

/* ClASSES SECTION */

.classes-container h2{
    text-align: center;
    margin: 32px;
    padding-top: 32px;
}

.classes-container {
    background-color: rgb(201, 201, 201);
    padding-bottom: 32px;
}

.all-classes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.each-class {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.class-text {
    background-color: white;
    width: 300px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 500ms;
}

.class-text:hover {
    background-color: teal;
    color: white;

}

.each-class img {
    height: auto;
    width: 300px;
}

.class-text h3,
.class-text p {
    margin: 16px;
}

/* THESIS SECTION */

.thesis-section {
    background-color: white;
}

.thesis-section h2{
    text-align: center;
    padding: 32px;
}

.thesis-container {
    display: flex;
}

.video-section {
    width: 700px;
    margin: 0px 24px;
}

video {
    width: 700px;
}

.side-video {
    display: flex;
    align-items: center;
    border-left: 1px  solid rgb(201, 201, 201);
    transition: all 700ms;
}

.side-video:hover {
    background-color: rgb(201, 201, 201);
}

.side-video img {
    width: 35%;
    margin: 16px;
}

.video-section p {
    padding-bottom: 32px;
}

/* FOOTER SECTION */

.footer {
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0px 24px 24px 24px;
    align-items: center;
    background-color: white;
    font-size: 12px;
}

.footer a {
    font-size: 12px;
}

/* MOBILE SECTION */

@media only screen and (max-width: 970px){
    header span {
        display: none;
    }

    .logo {
        display: none;
    }
    .nav-buttons {
        display: none;
    }
    header {
        justify-content: center;
    }

    header img {
        margin: 20px 15px 10px 15px;
    }
    .landing-container {
        flex-direction: column;
    }
    .landing-container img {
        width: 100%;
        margin: 0px;
    }
    .landing-content h1 {
        margin-top: 64px;
    }

    .start-button {
        margin-bottom: 32px;
    }

 
    .info-container {
        display: none;
    }


    .mobile-info-section img {
        margin: 16px 16px 0px 16px;
        width: 420px; 
    }


    .mobile-info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }

    .mobile-info-text {
        text-align: center;
    }

    .mobile-info-text a {
        color: teal;
        transition: letter-spacing 0.5s;
    }

    .mobile-info-text a:hover {
        letter-spacing: 4px;
    }

    .classes-container {
        display: none;
    }

    .mobile-classes {
        background-color: rgb(201, 201, 201);
        display: flex;
       flex-direction: column;
       padding-bottom: 32px;
    }

    .mobile-classes h2 {
        text-align: center;
        padding: 32px 0px 16px 0px;
    }

    .mobile-classes div {
        background-color:rgb(141, 141, 141);
        height: 60px;
        width: 400px;
        margin: 8px auto;
        display: flex;
        align-items: center;
        border-radius: 5px;
        transition: background-color 700ms, color 700ms;
    }

    .mobile-classes div:hover {
        background-color: white;
        color:rgb(141, 141, 141);
    }

    .mobile-classes h3 {
        margin: 16px;
    }

    .side-section {
        display: none;
    }

    .video-section h3,
    .video-section p {
        display: none;
    }

    video {
        margin: 0px auto;
        height: auto;
        width: 100%;
    }

    .video-section {
        margin: 0px auto;
    }


}

@media only screen and (min-width: 970px){
    .mobile-buttons {
        display: none;
    }
    .mobile-info-section {
        display: none;
    }
    .mobile-classes {
        display: none;
    }
}

